#w_blog{width:97%;padding-top:20px;margin:0 auto;}
#w_blog .w_title,#my_blog .w_title{border-bottom:2px solid #EB192D;padding-left:10px;}
#w_blog .w_ti{width:97%;font-size:12px;}
#w_blog .btn{margin:10px auto;}

#my_blog{width:97%;margin-top:10px;}
#my_blog .search{background-color:#F0FAFF;height:50px;
	margin-top:10px;border:1px solid #CFEBF5;border-radius:3px;}
#my_blog .search_input{margin:10px auto;}
#my_blog #appendedInputButton{margin-left:10px;font-size:12px;width:470px;}
#my_blog .btn-group .btn{height:27px;}
#my_blog .list_blog_key{padding-top:5px;font-size:12px;}