#body_bg {
		background:#A4DCF9 url('../img/body_bg1.jpg') repeat;
		background-attachment:fixed;
		background-position:50 -100px;}
 #body_bg .head{position:absolute;z-index:1000;position:fixed;top:0px;left:0px;right:0px;
 		background:url('../img/head_bg.png') repeat-x;
/*	background-color:#000;*/
	opacity: 0.8;                 /*兼容Firefox, Safari(WebKit), Opera)  */
    filter: "alpha(opacity=80)"; /* 兼容IE 8  */ 
    filter: alpha(opacity=80);   /* 兼容IE 4-7*/
    zoom: 1;}
#div-bg{width:100%;height:400px;position:absolute;z-index:-1000;position:fixed;top:0;
    overflow:hidden;background:url('../img/bg1.jpg') -70px -50px no-repeat}
.logo_link:hover{text-decoration:none;}
#content,#footer,#top_nav{width:800px;margin:0 auto;}
#content{
		margin-top:40px;background-color:#F0FAFF;}
#content,#footer{
		/*-moz-box-shadow:1px 1px 1px rgba(98,98,98,0.7);
    -webkit-box-shadow:1px 1px 1px rgba(229,229,229,0.7);
    box-shadow:1px 1px 1px rgba(98,98,98,0.7);*/
     /* -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;*/}
#footer{background-color:#EDEDED;
		margin-top:10px;
		opacity: 0.9;                /* 兼容Firefox, Safari(WebKit), Opera)*/  
    	filter: "alpha(opacity=90)"; /* 兼容IE 8 */  
    	filter: alpha(opacity=90);   /* 兼容IE 4-7 */  
    	zoom: 1;}
#footer font{font-size:12px;}
#footer .font_footer{line-height:40px;color:#424242;}
#footer .link{color:#424242;}
#footer .link:hover{text-decoration:none;color:blue;}
#top_nav .a_nav{display:inline-block;line-height:40px;width:auto;font-size:13px;color:#fff;text-align:center;padding-left:10px;padding-right:10px;}
#top_nav .a_nav:hover{color:#fff;background-color:#000;text-decoration:none;}
#body_bg .right{display:inline-block;line-height:40px;float:right;color:#ccc;opacity:2.0;}
#body_bg .right img{height:20px;width:40px;display:inline-block;}
#body_bg .right .qq_img{width:20px;}
#top_nav .right span:hover{cursor:pointer;}
#top_nav .register{color:#ccc;text-decoration:none;}
#body_bg .login{border:1px solid #ccc;
                position:absolute;z-index:1000;
                position: fixed;
                height:200px;width:350px;
                background-color:#fff;
                display:none;
                border-top:0;
               }
.qq_login_select{top:41px;right:3px;}
.oneself_login_select{top:42px;right:103px;box-shadow:1px 1px 1px 1px #ccc;}
.login_span{height:40px;width:90px;display:inline-block;text-align:center;}

/*说吧\博客 头部样式*/
.search-nav{width:100%;border-bottom:1px solid #ccc;padding-left:10px;height:31px;}
.search-nav .nav-tie{display:inline-block;border:1px solid #ccc;font-family:"simsun";
    border-top-right-radius:3px;border-top-left-radius:3px;
    line-height:30px;padding-left:10px;padding-right:10px;background-color:#f2f2f2;}
.search-nav .selected-nav-tie{background-color:#fff;border-bottom:1px solid #fff;font-weight:600;}
.search-nav .nav-tie:hover{cursor:pointer;}
.search-nav .btn-publish,.search-nav .search-title{float:right;margin-right:10px;line-height:17px;}
.search-nav .search-title span{height:17px;font:12px;*margin-top:1px;}
.search-nav .search-title span:hover{cursor:pointer;}
.ico-search{background:url('../img/1.png') no-repeat -69px -169px;}

/*说吧列表样式*/
i{display:inline-block;}
.all-tie-list ul{margin:10px 0 0 0;padding:0;list-style-type:none;}
.all-tie-list ul li{padding:10px;background-color:#F5F5F5;border:1px dotted #DADADA;}
.all-tie-list table{width:100%;}
.all-tie-list .tie-hot-list td{vertical-align:top;}
.all-tie-list td .td-req{text-align:center;width:55px;height:23px;background:url("../img/bg_bar_num.png") no-repeat;}
.td-title{font-size:1.1em;color:#0078B6;line-height:21px}
.all-tie-list a:hover{color:#0078B6;}
.all-tie-list .td-summ,.td-time{color:#999;}
.all-tie-list .td-nick{color:#77a7bf;}
.all-tie-list .td-nick .fa-tie{background:url('../img/icon_index.png') no-repeat;width:13px;height:15px;
    margin-bottom:-4px;}
.all-tie-list .td-title,.td-summ{width:350px;text-align:left;}
.all-tie-list .td-nick,.td-time{width:80px;text-align:left;font-size:12px;}
.td-title,.td-summ,.td-nick,.td-time,.blog-list-a,.blog-list-right{word-wrap:normal;overflow:
    hidden;text-overflow:ellipsis;white-space:nowrap;}


.clear{clear:both;}


/*弹出层样式*/


