
UL{PADDING: 0px; MARGIN: 0px;}
#imgPlay {
	MARGIN: 4px auto; OVERFLOW: hidden; WIDTH: 792px; ZOOM: 1; POSITION: relative; HEIGHT: 235px; margin-bottom: 0px;
}
#imgPlay .imgs IMG {
	BORDER: #dbdbdb 1px solid; PADDING: 1px;WIDTH: 788px; PADDING-TOP: 1px;
}
#imgPlay .imgs LI {
	FLOAT: left; POSITION: relative;list-style-type:none;
}
#imgPlay .num {
	DISPLAY: inline; LEFT: 400px; POSITION: absolute; TOP: 275px; HEIGHT: 19px
}
#imgPlay .num SPAN {
	DISPLAY: inline-block; BACKGROUND: url(../images/imgPlayer.png) no-repeat -19px -83px; MARGIN: 0px 2px; OVERFLOW: hidden; WIDTH: 14px; CURSOR: pointer; LINE-HEIGHT: 0; HEIGHT: 13px
}
#imgPlay .num SPAN.on {
	BACKGROUND-POSITION: 1px -83px
}
#imgPlay #numInner {
	PADDING: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; POSITION: absolute; TOP: 200px; TEXT-ALIGN: center;
}

